In [1]:
import pandas as pd
from sqlalchemy import create_engine
import matplotlib.pyplot as plt

In [2]:
DATABASE_URI = 'mysql+pymysql://root:Raj123@localhost:3306/onlinepurchase'
engine = create_engine(DATABASE_URI)

In [11]:
customers_df = pd.read_sql('SELECT * FROM Customers', engine)
products_df = pd.read_sql('SELECT * FROM Products', engine)
purchasedetails_df = pd.read_sql('SELECT * FROM purchasedetails', engine)
print(customers_df)
print(purchasedetails_df)

     CustomerID      CustomerName                      Country
0           100   Victoria Larson                       Tuvalu
1           102     Ronald Brandt                     Maldives
2           104    Richard Joseph  Falkland Islands (Malvinas)
3           105    Andrew Esparza                    Macedonia
4           107    Christine Soto                       Poland
..          ...               ...                          ...
603         992  Christine Miller                      Tunisia
604         993      Brandy Jones                 Saint Helena
605         994  Michael Matthews                       Israel
606         998      Brandon Page                      Eritrea
607         999     Matthew Avila                       France

[608 rows x 3 columns]
     TransactionID  CustomerID  ProductID  PurchaseQuantity  PurchasePrice  \
0                1         887        240                 5         689.99
1                2         560        299                 4          79.27
2                3         701        207                 3         666.75
3                4         630        290                 5         316.19
4                5         631        281                 4         700.24
..             ...         ...        ...               ...            ...
994            996         277        253                 2         796.67
995            997         340        233                 5         271.88
996            998         262        208                 5         594.69
997            999         216        233                 4         140.89
998           1000         463        219                 5         861.00

    PurchaseDate
0     2024-03-01
1     2024-01-26
2     2024-05-13
3     2023-09-21
4     2024-01-25
..           ...
994   2024-01-03
995   2023-11-11
996   2023-11-04
997   2023-11-05
998   2024-05-22

[999 rows x 6 columns]

In [7]:
# 1. Calculate total purchases
total_purchases = purchasedetails_df['TransactionID'].count()
print(f'Total Purchases: {total_purchases}')
total_revenue = (purchasedetails_df['PurchasePrice'] *purchasedetails_df ['PurchaseQuantity']).sum()
print(f'total_revenue:{total_revenue}')
average_purchase_value = total_revenue / total_purchases

Total Purchases: 999
total_revenue:1483429.49

In [ ]:
# TOP Customers
top_customers = purchasedetails_df.groupby('CustomerID').agg(
    total_purchases=('TransactionID', 'count'),
    total_spent=('PurchasePrice', 'sum')
).sort_values(by='total_spent', ascending=False).head(10)
print(top_customers)